:root {
    --background: hsl(0, 0%, 98%);
    --color: hsl(0, 0%, 13%);
    --color-2: hsl(0, 0%, 27%);
    --color-3: hsl(0, 0%, 40%);
    --border-color: hsl(0, 0%, 88%);
    --card-background: hsl(0, 0%, 93%);
    --card-boxshadow: 0 0 30px 0 hsla(0, 0%, 50%, 0.10);
    --text-shadow: 0px 3px 3px hsla(0, 0%, 13%, 0.251);
}

.dark {
    --background: hsl(0, 0%, 2%);
    --color: hsl(0, 0%, 87%);
    --color-2: hsl(0, 0%, 73%);
    --color-3: hsl(0, 0%, 60%);
    --border-color: hsl(0, 0%, 12%);
    --card-background: hsl(0, 0%, 7%);
    --card-boxshadow: 0 0 30px 0 hsla(0, 0%, 0%, 0.10);
    --text-shadow: 0px 3px 3px hsla(0, 0%, 87%, 0.251);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Nunito", sans-serif
}

*, :after, :before {
    box-sizing: border-box
}

:focus {
    outline: 1px auto -webkit-focus-ring-color
}

body {
    background: var(--background);
    font-size: 16px;
    overflow: none
}

html {
    overflow-x: none;
    scroll-behavior: smooth
}

.fullpage {
    min-width: 100%;
    width: 100%
}

.fullheight {
    min-height: calc(100vh - 52px - 60px);
    height: 100%
}

.basepage {
    max-widtH: 1090px;
    width: 100%;
    margin: 0 auto
}

.centerpage {
    display: flex;
    align-items: center;
    justify-content: center
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.location-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon svg {
    font-size: 2rem;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    stroke: var(--color-2);
}

.icon svg path, .icon svg ellipse {
    stroke: var(--color-2);
}

.location {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color);
    text-decoration: none;
}

nav ul {
    list-style: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature {
    color: var(--color-3);
    font-weight: 300;
}

.feature a {
    color: var(--color);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block
}

.feature a::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    left: 0;
    background-color: var(--color);
    transition: all .25s ease 0s;
}

.feature a:hover::after {
    width: 100%;
}

.feature:first-child {
    margin-bottom: 2px;
}

.line {
    width: 150px;
    height: 2px;
    background-color: var(--color-3);
    border-radius: 5px;
}

.content {
    flex-direction: column;
    justify-content: space-evenly;
}

.temperature-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.value {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color);
    text-shadow: var(--text-shadow);
}

.phrase {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-2);
}

.days {
    background-color: var(--card-background);
    display: flex;
    border-radius: 8px;
    box-shadow: var(--card-boxshadow);
}

.day {
    width: calc(375px / 5);
    height: 75px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.day:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.day:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.temperature-value {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color);
}

.day-date {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-2);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 465px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .day {
        width: calc(300px / 5);
    }
}

.spinner {
    font-size: 2.5rem;
    widtH: 1em;
    height: 1em;
    fill: transparent;
    stroke: var(--color);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 125;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        stroke-dashoffset: 25;
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: 125;
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: 25;
        transform: rotate(1080deg);
    }
}

.spinner>circle {
    fill: transparent;
}

.version{
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: var(--color-2);
    font-weight: 300;
    font-size: 1rem;
}

.search-input-holder{
    width: 90%;
    margin: 10px auto;
    display: flex;
    background: var(--card-background);
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    box-shadow: var(--card-boxshadow);
}

.search-input{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-2);
    background: transparent;
}

.search-input:focus{
    outline: 0;
}

.input-icon{
    padding: 0 5px;
}

.search-result-holder{
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    background: var(--card-background);
    border: 1px solid var(--border-color);
    box-shadow: var(--card-boxshadow);
}

.search-result{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    cursor: pointer;
}

.search-result:last-child{
    border-bottom: none;
}

/*
<div class="search-result-holder">
    <span class="search-result"> İstanbul, Istanul / Tr</span>
    <span class="search-result"> İstanbul, Istanul / Tr</span>
    <span class="search-result"> İstanbul, Istanul / Tr</span>
    <span class="search-result"> İstanbul, Istanul / Tr</span>
</div>
*/