:root {
    --background: hsl(0, 0%, 98%);
    --color: hsl(0, 0%, 13%);
    --color-2: hsl(0, 0%, 27%);
    --color-3: hsl(0, 0%, 40%);
    --border-color: hsl(0, 0%, 88%);
    --card-background: hsl(0, 0%, 93%);
    --card-boxshadow: 0 0 30px 0 hsla(0, 0%, 50%, 0.10);
    --text-shadow: 0px 3px 3px hsla(0, 0%, 13%, 0.251);
}

.dark {
    --background: hsl(0, 0%, 2%);
    --color: hsl(0, 0%, 87%);
    --color-2: hsl(0, 0%, 73%);
    --color-3: hsl(0, 0%, 60%);
    --border-color: hsl(0, 0%, 12%);
    --card-background: hsl(0, 0%, 7%);
    --card-boxshadow: 0 0 30px 0 hsla(0, 0%, 0%, 0.10);
    --text-shadow: 0px 3px 3px hsla(0, 0%, 87%, 0.251);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Nunito", sans-serif
}

*, :after, :before {
    box-sizing: border-box
}

:focus {
    outline: 1px auto -webkit-focus-ring-color
}

body {
    background: var(--background);
    overflow: none
}

html {
    overflow-x: none;
    scroll-behavior: smooth;
    font-size: 16px;
}

@media screen and (max-width: 768px) { html {font-size: 14px}}
@media screen and (max-width: 465px) { html {font-size: 12px}}

.fullpage {
    min-width: 100%;
    width: 100%
}

.fullheight {
    min-height: calc(100vh - 7rem);
    height: 100%
}

.basepage {
    max-widtH: 1090px;
    width: 100%;
    margin: 0 auto
}

.centerpage {
    display: flex;
    align-items: center;
    justify-content: center
}

header {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.location-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon svg {
    font-size: 2rem;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    stroke: var(--color-2);
}

.icon svg path, .icon svg ellipse {
    stroke: var(--color-2);
}

.location {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px
}

footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature {
    color: var(--color-3);
    font-weight: 300;
}

.feature a {
    color: var(--color);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block
}

.feature a::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    left: 0;
    background-color: var(--color);
    transition: all .25s ease 0s;
}

.feature a:hover::after {
    width: 100%;
}

.feature:first-child {
    margin-bottom: 2px;
}

.line {
    width: 150px;
    height: 2px;
    background-color: var(--color-3);
    border-radius: 5px;
}

.content {
    flex-direction: column;
    justify-content: space-evenly;
}

.temperature-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.value {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color);
    text-shadow: var(--text-shadow);
}

.phrase {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-2);
}

.days {
    background-color: var(--card-background);
    display: flex;
    border-radius: 8px;
    box-shadow: var(--card-boxshadow);
}

.day {
    width: calc(375px / 5);
    height: 75px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.day:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.day:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.temperature-value {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color);
}

.day-date {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-2);
}

@media screen and (max-width: 400px) {
    .day {
        width: calc(300px / 5);
    }
}

.spinner {
    font-size: 2.5rem;
    widtH: 1em;
    height: 1em;
    fill: transparent;
    stroke: var(--color);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 125;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        stroke-dashoffset: 25;
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: 125;
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: 25;
        transform: rotate(1080deg);
    }
}

.spinner>circle {
    fill: transparent;
}

.version{
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: var(--color-2);
    font-weight: 300;
    font-size: 1rem;
}

.search-input-holder{
    width: 90%;
    margin: 10px auto;
    display: flex;
    background: var(--card-background);
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    box-shadow: var(--card-boxshadow);
}

.search-input{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-2);
    background: transparent;
}

.search-input:focus{
    outline: 0;
}

.input-icon{
    padding: 0 5px;
}

.search-result-holder{
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    background: var(--card-background);
    border: 1px solid var(--border-color);
    box-shadow: var(--card-boxshadow);
}

.search-result{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    cursor: pointer;
    color: var(--color-2)
}

.search-result:last-child{
    border-bottom: none;
}

.mode-icon svg{
    width: calc(2rem - 2px);
    height: calc(2rem - 2px);
    fill: var(--color-2);
    vertical-align: middle;
}

input:-webkit-autofill{
    background: transparent;
}

input:autofill{
    background: transparent;
}

.no-result{
    cursor: context-menu;
    user-select: auto;
}

.sun path{
    d: path("M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z")
}

.moon path{
    d: path("M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z")
}